# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Mac
.DS_Store

# Streamlit
.streamlit/

# Logs
logs/
outputs/logs/

# Jupyter
.ipynb_checkpoints/

# Uploaded PDFs
data/uploads/

# HuggingFace cache
.cache/